GraphicsTest/Downlink/x64
GraphicsTest/Downlink/Debug
GraphicsTEst/x64
SDL2-2.0.8
.vs
*.filters
*.user
GraphicsTest/Downlink/SDL2.dll
DownlinkTest/\.idea/
DownlinkTest/cmake-build-debug/
.DS_Store
.vscode/
*.dSYM/
*.ini
downlink